<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>test.zttc.servlet.HelloServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>test.zttc.servlet.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>

    <servlet>
    <servlet-name>NumberServlet</servlet-name>
    <servlet-class>test.zttc.servlet.NumberServlet</servlet-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>GBK</param-value>
        </init-param>
</servlet>
    <servlet-mapping>
        <servlet-name>NumberServlet</servlet-name>
        <url-pattern>/number</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegServlet</servlet-name>
        <servlet-class>test.zttc.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegServlet</servlet-name>
        <url-pattern>/reg</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ScopeServlet</servlet-name>
        <servlet-class>test.zttc.servlet.ScopeServlet</servlet-class>
        <init-param>
            <param-name>username</param-name>
            <param-value>admin</param-value>
        </init-param>
        <!--只要不为0或者不为空，就是表示启动的时候执行ScopeServlet-->
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ScopeServlet</servlet-name>
        <url-pattern>/scope</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>CharEncodingFilter</filter-name>
        <filter-class>test.zttc.filter.CharEncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CharEncodingFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>
</web-app>